
.main-home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main-home .NavBar {
    
    color: black;
    background-color: #2c3e50;
    /* background-color: white; */
    border-bottom: lightgray solid 1px;
    padding: 0;
    height: 100px;
    
  }
  
  .main-body {
    display: flex;
    flex: 1;
    height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    background-color: white;
    
  }
  
  .left-bar {
    
   display: flex;
   background-color: #2c3e50;
   padding-top: 10px;
   border-right: 1px solid lightgray;
   flex: 1;
    overflow-y: auto; 
   overflow: hidden;
    
   
  }
  
  .main-body-part {
    
    
        flex: 5;
        background: white;
        padding: 0;
        overflow-y: auto; /* Allow vertical scrolling */
         /* Set a maximum height */
      
  }
  
  
  .custom-component {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .custom{
    width: 150px;
    
    background-color: lightgrey;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(100% - 170px);
    margin-right: 20px;
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .custom .view, .logout{
    width: 100%;
    cursor: pointer;
    margin: 5px 5px;
    padding-left: 10px;
    
  }
  .custom .view:hover, .logout:hover{
    background-color: #2c3e50;
    color: aliceblue;
  }
  .custom .logout:hover{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }