// dash_board.scss
.dashboard-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .main-contents {
    display: flex;
    overflow-y: auto;
    transition: 1s;
    flex-direction: column;
    height: 90%;
    .interface {
      width: 100%;
    }
  }
}
