* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.invite-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;

  .header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #2c3e50;
    color: white;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    z-index: 1000; 
      }
      
  .body-container {
    flex: 1;
    color: black;
    
    overflow-y: auto; 
    .body{
      padding-top: 0;
      margin-top: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
      .home{
        padding-top: 0;
        
        width: 100%;
        background-color: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: solid 2px lightgray;
       
       

      .left{
               
        width: 45%;
        //height: 90%;
        background-color: inherit;
        border-radius: 30px;
        display: flex; 
        
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 80px;
        margin-bottom: 50px;
        margin-left: 15px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        .moto{
          width: 100%;         
          
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 3rem;
          font-weight: bolder;
          margin-bottom: 30px;
          
        }
        .expression{
          width: 100%;        
          border-radius: 10px;
          
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 30px;
          flex-direction: column;
          //margin-bottom: 60px;

          span{
            font-size: 1.5rem;
            color: black;

          }
          button{
            margin-top: 10px;
            height: 50px;
            width: 220px;
            border: none;
            font-size: larger;
            border-radius: 8px;
            background-color: dodgerblue;

          }
        }
        
      }
      .left:hover{
        border: lightgrey solid 1px;
        transform: translateY(-40px); /* Move the container up by 10 pixels */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        
      }

      .right{
        width: 45%;
        height: 90%;
        
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        
        margin-bottom: 10px;
        margin-left: 15px;
        //transition: transform 0.3s ease, box-shadow 0.3s ease;
      }
      // .right:hover{
      //   border: lightgrey solid 1px;
      //   //transform: translateY(-40px); /* Move the container up by 10 pixels */
      //   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        
      // }
        
      }
      

      #feature {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: solid 2px lightgray;
      
        .feature-list {
          width: 450px;
          margin-top: 40px;
          background-color: inherit;
          //border-radius: 0.7rem;
          margin-right: 15px;
          display: flex;
          flex-direction: column;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
      
          span {
            width: 100%;
            background-color: inherit;
            
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            //border-top-left-radius: 0.7rem;
           // border-top-right-radius: 0.7rem;
            font-size: 2rem;
            font-weight: bolder;
          }
      
          p {
            margin: 10px;
          }
      
          img {
            //border-bottom-left-radius: 0.7rem;
            //border-bottom-right-radius: 0.7rem;
            width: 100%;
          }
      
          
        }
        .feature-list:hover {
          border: 0.7em solid rgb(100, 100, 100);
          border-radius: 0.7rem;
          transform: translateY(-40px);
          box-shadow: black 1px 1px 0.5em inset;
        }
        .feature-list:last-child {
          margin-right: 0;
}

        .slick-prev,
  .slick-next {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    color: #2c3e50;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: dodgerblue;
    }
  }

  .slick-prev {
    left: 10px;
    
  }

  .slick-next {
    right: 40px;
  }

  .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    display: flex;
    padding: 0;

    li {
      margin: 0 5px;
      button {
        font-size: 12px;
        width: 12px;
        height: 12px;
        border: none;
        border-radius: 50%;
        background-color: #2c3e50;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: dodgerblue;
        }
      }

      &.slick-active button {
        background-color: dodgerblue;
      }
    }
  }



      }
      .slick-slider {
        width: 100%;
      }
      
      
      .team{
        
        
        display: flex;
        align-items: center;
        justify-content: center;
        
       
        
      }
      .contact{
        width: 100%;
        background:url("../../assets/contact.jpg");
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span{
          margin: 25px 0 20px 0;
          font-size: 2rem;
        }
      }
    }
  }

  .footer {
    min-height: 50px;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
}


