.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent overlay color
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &.display-none {
    display: none;
  }

  .popup-main {
    
    display: inline-block;
    background-color: white;
    font-size: 2rem;
    flex-wrap: wrap;
    color: black;
    flex-direction: column;
    
    border: 1px solid #ccc; // Popup border color
    padding: 20px;
    max-height: 90vh; // Maximum height for popup-main
    overflow-y: auto; // Enable vertical scrolling if needed
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); // Popup box shadow
    
  }
}