*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.father{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
.sidebar-container {
  display: flex;
  flex-direction: column;
 //background-color: #1a83ff;
 //height: 100%;
 width: 100%;
  //width: 400px;
  
  .navbar {
    //background-color: aqua;
    //height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; // Fixed position to keep it in place
    width: 100%; // Take the full width of the viewport
    top: 0; // Position at the top
    z-index: 1000; // Set a high z-index to ensure it's above other elements
    .menu-bars {
      font-size: 2rem;
      
     
      color: #fff;
      cursor: pointer;
      
     
    }
    
    
  
}
  .entire-side-bar-menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    //margin-bottom: 300px;
    //height: 100vh;
    //height: 400px;
    //margin-top: 80px;
  .nav-menu {
    //background-color: green;
    width: 250px;
    //height: 100%;
    display: flex;
    height: 87vh;
    justify-content: center;
    flex-direction: row;
    position: start;
    top: 80px;
    transition: 1s;
    z-index: 100;
    // &::-webkit-scrollbar{
    //   display: none;
    // }
    overflow-y: auto; /* Enable vertical scrolling */
  //min-height: 10vh; /* Set a maximum height for the sidebar */
    color: #fff;
    

    .nav-menu-items {
      width: 100%;   
      
     padding-left: 0;
      
      .dsa-content {
        font-family: 'Arial', sans-serif;
        list-style: none;
        padding-left: 0;
        padding-bottom: 20px;
      
        .data-structure {
          padding-left: 0;
          
          list-style: none;
          .category {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 8px;
            cursor: pointer;
            list-style: none;
            padding-left: 0;
            
          }
          .category:hover{
            background-color: #1a83ff;
          }
      
          .sub-category {
            margin-left: 1px;
            list-style: none;
            padding-left: 20px;
            .linear {
              list-style: none;
              
              .category {
                margin-bottom: 5px;
                list-style: none;
              }
      
              ul {
                margin-top: 0;
                list-style-type: none;
      
                li {
                  font-size: 14px;
                  margin-bottom: 5px;
                  list-style: none;            
      
                  &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                  }
                }
              }
      
              .visible-linear {
               display: none;
              }
            }
      
            .non-linear {
              .category {}
      
              ul {
                list-style: none;
      
                li {
                  font-size: 14px;
                  margin-bottom: 5px;
                  list-style: none;
      
                  &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                  }
                }
              }
      
              .visible-none-linear {
                display: none;
              }
            }
          }
      
          .invisible-data-structures{
            display: none;
          }
        }
      
        .algorithms {
          list-style: none;
          
          
          .category {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 8px;
            cursor: pointer;
            list-style: none;
            
          }
          .category:hover{
            background-color: #1a83ff;
          }
      
          .sub-category {
            list-style: none;
            padding-left: 10px;
            .search {
              list-style: none;
              .category {
                list-style: none;
              }
      
              ul {
                list-style: none;
                li {
                  list-style: none;
                  font-size: 14px;
                  margin-bottom: 5px;
      
                  &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                  }
                }
              }
      
              .search-visible {
                display: none;
              }
            }
      
            .sorting {
              list-style: none;
              .category {
                list-style: none;
              }
      
              ul {
                list-style: none;
                li {
                  list-style: none;
                  font-size: 14px;
                  margin-bottom: 5px;
      
                  &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                  }
                }
              }
      
              .sorting-visible {
                display: none;
              }
            }
      
            margin-left: 10px;
      
            .graph-algo {
              .category {}
      
              ul {
                list-style: none;
                li {
                  font-size: 14px;
                  margin-bottom: 5px;
                  list-style: none;
                  
      
                  &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                  }
                }
               
              }
      
              .graph-algorithm {
                display: none;
              }
            }
          }
      
          .invisible-algorithms {
            display: none;
          }
        }
      }
    }
  }
  .main-container{
    //margin-left: 250px;
    //background-color: red;
    margin-top: 80px;
    width: calc(100% - 250px);
    transition: 1s;
  }
}
  .active {
    left: 0;
    
  }
  
}
}












