.main-declaration {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  .input-fields {
    display: flex;
    //flex: 1;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 20px;

    input,
    select,
    button {
      margin-bottom: 10px;
      padding: 5px;
    }

    .declare {
      cursor: pointer;
      background-color: #f2f2f2;
      color: black;
    }
  }

  .memory {
    display: flex;
    flex: 6;
    flex-direction: row;
    height: 100%;

    .table {
      display: flex;
      flex: 6;
      justify-content: center;
      height: 100%;
      overflow-y: auto;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      table {
        border-collapse: collapse;
        width: 100%;

        th,
        td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
        }

        th {
          background-color: #f2f2f2;
        }
      }
    }
    .assuming {
      display: flex;
      flex: 4;
      flex-direction: column;

      margin-left: 10px;
      .assuption {
      }
      .declaring {
        .editor {
          background-color: #f1f5fd;
          border: 1px solid #5e9bd1;
          border-top: 3px solid #f1f5fd;
          box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
          width: 100% !important;
        }
      }
    }
  }
  .visibility {
    display: none;
  }
}
