* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/tree.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h1 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login .login-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 20px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

/* Media Queries for Tablet and Mobile */
@media screen and (max-width: 768px) {
  .login-container {
    width: 90%;
    max-width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .login-container {
    width: 90%;
    max-width: 250px;
  }

  .form-group input {
    font-size: 14px;
  }

  button {
    font-size: 16px;
  }
}
