* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: inherit;
    color: white;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    z-index: 1000;
   

    .logo {
      flex: 1;
      display: flex;
      align-items: center;
      margin-left: 30px;
      font-size: 2.5rem;
      height: 100%;
    }

    .button-list {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;

      .button {
        
        text-decoration: none;
        margin: 0 15px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 80px;
        color: inherit;

        .nav-button {
          width: 100%;
          border: none;
          color: inherit;
          border-radius: 15px;
          background-color: inherit;
          height: 100%;
        }

        .nav-button:hover {
          background-color: lightgray;
          color: black;
        }
      }
      
        
        .user {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 150px;
          cursor: pointer;
          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px lightgray solid;
            margin-left: 1px;
          }
          span {
            font-weight: bold;
            font-size: 1rem;
          }
        }     
    }
  }

  @media (max-width:750px){
    .header{
      .logo{
        flex: 1;
        h1{
          font-size: 1rem;
        }
      }
      .button-list{
        flex: 3;
        .button{
          margin: 0 9px;
          height: 30px;
          width: 45px;
          button{
            border-radius: 10px;
          }
        }
      }
      .user{
        margin-right: 15px;
        img{
          width: 40px;
          height: 40px;
          margin-right: 0;
        }
        span {
          font-weight: bold;
          font-size: 0.5rem;
        }
      }
    }
  }